.agreement {
    padding-bottom: 110px;

    @media (min-width: 320px) and (max-width: 767px) {
        padding-bottom: 50px;
    }

    .container {
        padding: 0 15px;

        @media (min-width: 768px) and (max-width: 1199px) {
            padding: 0 30px;
        }
    }

    &__text {
        margin-top: 16px;

        &_margin {
            margin-top: 15px;
        }
    }

    &__text,
    &__list-items {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }

    &__heading {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #1E6140;
    }

    &__list-items {
        list-style: none;
        counter-reset: li;
    }

    &__list-item {
        margin-top: 10px;

        &:before {
            counter-increment: li;
            content: counters(li, ".") ". ";
        }
    }

}