.order {
    padding-top: 16px;
    padding-bottom: 100px;

    @media (min-width: 320px) and (max-width: 767px) {
        padding-bottom: 60px;
        padding-top: 21px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        @media (min-width: 320px) and (max-width: 1199px) {
            flex-direction: column;
            margin-top: 20px;
            align-items: center;
        }
    }

    &__heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 15px;
    }

    &__separator-horizontal {
        margin: 30px auto 25px auto;
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: block;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #484848;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__right {
        background: #FFFFFF;
        border-radius: 20px;
        width: 540px;
        height: 440px;
        padding: 20px;

        @media (min-width: 320px) and (max-width: 767px) {
            width: 290px;
            height: inherit;
        }
    }

    &__buy-product {
        background: #21603F;
        border-radius: 20px;
        width: 480px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;

        @media (min-width: 320px) and (max-width: 767px) {
            width: 250px;
            margin: 0 auto;
            flex-direction: column;
            align-items: start;

            &_margin {
                margin-bottom: 12px;
            }
        }

        span {
            color: rgba(132, 197, 81, 1)
        }
    }

    &__confirm {
        width: 480px;
        height: 47px;
        background: #E74E13;
        border-radius: 90px;
        text-align: center;
        margin-top: 20px;

        @media (min-width: 320px) and (max-width: 767px) {
            width: 250px;
            margin: 20px auto 0 auto;
        }
    }

    &__link {
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }
}

.wrap-contacts {
    display: flex;
    justify-content: space-between;

    @media (min-width: 320px) and (max-width: 767px) {
        flex-direction: column;
    }

    &_margin {
        margin-bottom: 20px;

        @media (min-width: 320px) and (max-width: 767px) {
            margin-bottom: 0;
        }
    }
}

.order .contacts-form__wrap-data {
    @media (min-width: 768px) {
        width: 540px;
    }
}

.order .data-registration {
    @media (min-width: 768px) {
        width: 540px;
    }
}

.input-wrap {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default radio button */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom radio button Границы кружка */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background: #ffffff;
        border: 1px solid #EC6523;
        border-radius: 20px;

        /* Create the indicator (the dot/circle - hidden when not checked) Кружок внутри круга*/
        &:after {
            display: none;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 9px;
            height: 9px;
            border-radius: 20px;
            background: orange;
        }
    }

    /* On mouse-over, add a grey background color */
    &:hover input~.checkmark {
        background-color: #ccc;
    }

    /* Show the indicator (dot/circle) when checked */
    input:checked~.checkmark:after {
        display: block;
    }
}