.cart {
    border-radius: 20px;
    background: #F8F8F8;
    padding: 35px 15px;
    margin: 0 auto 110px auto;

    @media (min-width: 1200px) {
        width: 1110px;
        padding: 48px 95px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        width: 290px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        width: 735px;
    }

    &__separator-horizontal {
        margin: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: block;

        @media (min-width: 320px) and (max-width: 1199px) {
            margin: 15px;
        }
    }

    &__info-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 320px) and (max-width: 767px) {
            flex-direction: column;
        }
    }
}

.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 47px;
    border: 1px solid #E74E13;
    border-radius: 90px;
    color: #E74E13;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    &__link {
        text-decoration: none;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;

        &_orange {
            color: #E74E13;
        }
    }

    svg {
        margin-right: 15px;
        vertical-align: middle;
    }

    &_orange {
        background: #E74E13;

        @media (min-width: 320px) and (max-width: 767px) {
            margin-top: 11px;
        }
    }
}