.order-history {
    padding-bottom: 120px;

    @media (min-width: 768px) and (max-width: 1139px) {
        padding-bottom: 40px;
    }

    &__text {
        margin: 40px 20px 0 20px;
        background: #FFFFFF;
        border-radius: 20px;
        padding: 40px;
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
    }
}