.catalog {
    @media (min-width: 900px) and (max-width: 1200px) {
        padding: 0 30px;
    }

    &__text {
        margin: 40px 20px 0 20px;
        background: #FFFFFF;
        border-radius: 20px;
        padding: 40px;
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
    }
}

.catalog-seeds .filter__unit_hidden {
    display: none;
}

.catalog-fertilizers {
    .filter__unit_hidden {
        display: none;
    }

    .filter__text p {
        max-width: 192px;
    }
}

.catalog-product {
    display: grid;
    grid-template-columns: repeat(3, 255px);
    grid-gap: 30px;

    @media (min-width: 320px) and (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        grid-template-columns: repeat(2, 255px);
        justify-content: center;
    }
}

.result {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);

    @media (min-width: 320px) and (max-width: 900px) {
        text-align: center;
        padding-top: 16px;

        &_position {
            margin-top: 235px;
        }
    }
}

.catalog-wrap {
    @media (min-width: 900px) {
        display: flex;
        justify-content: space-between;
    }

    &_top {
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        @media (min-width: 320px) and (max-width: 899px) {
            display: none;
        }
    }
}

.wrap-small {
    margin: 20px 0;
    position: relative;

    @media (min-width: 900px) {
        display: none;
    }

    &_top {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}

.wrap-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 120px;

    @media (min-width: 320px) and (max-width: 767px) {
        margin-bottom: 40px;
    }
}

.catalog .product-card {
    @media (min-width: 320px) and (max-width: 767px) {
        margin: 0 auto;
    }
}