.contact-details {
    display: flex;
    cursor: pointer;
    position: relative;

    @media (min-width: 320px) and (max-width: 900px) {
        &_hidden {
            display: none;
        }
    }

    &:last-child {
        padding-top: 21px;
    }

    &__phone-info,
    &__mail-info {
        margin-left: 6px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;

        &_white {
            color: #ffffff;
        }
    }

    &__mail-info {
        align-self: center;
    }

    &__number {
        display: flex;
        background-image: url(../../img/arrowDown.svg);
        background-repeat: no-repeat;
        background-position: 142px 4px;
    }

    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: #84BE51;
        margin-top: 3px;
    }

    &__number-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-top: 14px;
    }

    &__pop-up {
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        width: 280px;
        padding: 11px;
        cursor: pointer;
        position: absolute;
        z-index: 2;
    }
}

.contact-details__pop-up .contact-details__number {
    background-image: url(../../img/arrowUpGreen.svg);
}

.wrap-contact {
    display: flex;
}