.change-password {
    padding-bottom: 120px;

    @media (min-width: 768px) and (max-width: 1139px) {
        padding-bottom: 40px;
    }

    &__form {
        background: #FFFFFF;
        border-radius: 20px;
        width: 825px;
        padding: 26px 0 35px 30px;
        margin: 0 auto;

        @media (min-width: 320px) and (max-width: 767px) {
            width: 310px;
            padding: 10px;
            margin-top: 16px;
        }

        @media (min-width: 768px) and (max-width: 1139px) {
            width: 735px;
        }
    }

    &__label {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #484848;
    }

    &__input {
        display: block;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 90px;
        width: 373px;
        height: 40px;
        margin: 8px 0 15px 0;

        @media (min-width: 320px) and (max-width: 767px) {
            width: 290px;
        }
    }
}

.change-password .cabinet-btn {
    cursor: not-allowed;
}