.top-bar {
    background: #1E6140;
    font-size: 18px;
    line-height: 22px;
    position: relative;

    @media (min-width: 320px) and (max-width: 900px) {
        padding: 11px 0;
    }

    &__menu {
        margin-right: 20px;

        @media (min-width: 901px) {
            display: none;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 900px) and (max-width: 1199px) {
            padding: 0 10px;
        }

    }

    &__navigation {
        display: flex;

        @media (min-width: 768px) {
            padding: 15px 0 14px 0;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            align-items: center;
            justify-content: space-between;
        }

        @media (min-width: 320px) and (max-width: 900px) {
            &_hidden {
                display: none;
            }
        }
    }


    &__popUp,
    &__popUp_active {
        position: relative;
        background-image: url(../../img/arrowDown.svg);
        background-repeat: no-repeat;
        background-position: 75px 6px;
        width: 105px;
        cursor: pointer;

        &_active {
            background-image: url(../../img/arrowUpGreen.svg);
        }
    }

    &__line {
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.2);
        height: 50px;

        @media (min-width: 320px) and (max-width: 900px) {
            display: none;
        }
    }

    &__login {
        position: relative;

        img {
            position: absolute;
            left: -25px;
        }

        @media (min-width: 320px) and (max-width: 900px) {
            margin-left: 41px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;

        @media (min-width: 900px) and (max-width: 1199px) {
            margin-right: 10px;
        }

        @media (min-width: 1200px) {
            margin-right: 30px;
        }
    }

    &__active-link {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}

.popUp {
    background: #347153;
    border-radius: 0px 0px 20px 20px;
    width: 190px;
    position: absolute;
    top: 50px;
    padding: 15px 0 12px 18px;
    display: none;

    a {
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
    }
}

.popUp.active {
    display: block;
}