.counter {
    display: flex;
    align-items: center;

    &__quantity-circle {
        position: relative;
        width: 20px;
        height: 20px;
        background: #84C551;
        border-radius: 90px;
    }

    &__plus {
        height: 8px;
        border: 1px solid #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__minus {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #FFFFFF;
        width: 8px;
    }

    &__input {
        width: 47px;
        height: 47px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 90px;
        margin: 0 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #000000;

        &:focus {
            outline: 1px solid #84C551;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    // input[type='number'] {
    //     -moz-appearance: textfield;
    // }
}