.wrap-img {
    display: flex;
    justify-content: space-between;
}

.wrap-title {
    display: flex;
}

.wrap_top-info {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 20px;
    width: 584px;
    padding: 17px 21px;

    @media (min-width: 320px) and (max-width: 767px) {
        flex-direction: column;
        width: 290px;
        margin-bottom: 17px;
    }
}

.wrap_bottom-info {
    display: flex;
    justify-content: space-between;

    @media (min-width: 320px) and (max-width: 767px) {
        flex-direction: column;
    }
}

.description {
    margin: 70px auto 120px auto;
    width: 1110px;

    @media (min-width: 768px) and (max-width: 1199px) {
        width: 735px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        width: 290px;
        margin: 40px auto;
    }

    &__title {
        background: #1E6140;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        border-radius: 20px 20px 0px 0px;
        width: 220px;
        padding-top: 9px;
        padding-bottom: 9px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-right: 30px;

        &_notActive {
            background: none;
            color: #000000;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 18px;
            line-height: 22px;
            width: 130px;
            margin-right: 15px;
        }
    }

    &__wrap {
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        border-radius: 0px 20px 20px 20px;
        padding: 23px 10px 28px 40px;

        @media (min-width: 320px) and (max-width: 1199px) {
            padding: 20px;
        }
    }

    &__link {
        padding-bottom: 3px;
        padding-top: 3px;
    }

    &__heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        padding-bottom: 11px;
        padding-top: 13px;

        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;

        &_margin {
            margin-top: 20px;
        }

        span {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #1E6140;
        }
    }
}

.product-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 47px;
    border: 1px solid #E74E13;
    border-radius: 90px;
    text-align: center;
    color: #E74E13;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    img,
    svg {
        margin-right: 11px;
    }

    &_orange {
        background: #E74E13;
        color: #FFFFFF;
        margin-right: 20px;
    }

}