.header {
    padding: 20px 0;

    @media (min-width: 320px) and (max-width: 1200px) {
        padding: 20px 15px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 320px) and (max-width: 767px) {
            align-items: start;
        }
    }

    &__search-form {
        padding: 10px 0 10px 15px;
        width: 340px;
        height: 40px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 90px;
        display: flex;
        background: #FFFFFF;

        @media (min-width: 320px) and (max-width: 1200px) {
            width: 230px;
        }

        span {
            border: 1px solid rgba(0, 0, 0, 0.2);
            height: 28px;
            display: block;
            align-self: center;
        }

        input {
            border: none;
            display: block;
            outline: none;
            width: 100%;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #484848;
        }

        img {
            margin-left: 22px;
            margin-right: 14px;
        }

        @media (min-width: 320px) and (max-width: 900px) {
            &_hidden {
                display: none;
            }

            &_small {
                margin-left: 20px;
            }
        }
    }

    &__toolBar {
        display: flex;
        align-items: center;
    }

    &__price {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
        margin-left: 8px;

        &_white {
            color: #ffffff;
        }
    }
}

.contact-details {
    display: flex;
    cursor: pointer;
    position: relative;

    @media (min-width: 320px) and (max-width: 900px) {
        &_hidden {
            display: none;
        }
    }

    &:last-child {
        padding-top: 21px;
    }

    &__phone-info,
    &__mail-info {
        margin-left: 6px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;

        &_white {
            color: #ffffff;
        }
    }

    &__mail-info {
        align-self: center;
    }

    &__number {
        display: flex;
        background-image: url(../../img/arrowDown.svg);
        background-repeat: no-repeat;
        background-position: 142px 4px;
    }

    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: #84BE51;
        margin-top: 3px;
    }

    &__number-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-top: 14px;
    }
}

.contact-popUp {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 280px;
    padding: 11px;
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 2;

    .contact-details__number {
        background-image: url(../../img/arrowUpGreen.svg);
        background-repeat: no-repeat;
        background-position: 123px 4px;
    }

}

.contact-popUp.active {
    display: block;
}

.wrap-contact__popUp {
    display: flex;
}