.header {
    padding: 20px 0;

    @media (min-width: 320px) and (max-width: 1200px) {
        padding: 20px 15px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 320px) and (max-width: 767px) {
            align-items: start;
        }
    }

    &__toolBar {
        display: flex;
        align-items: center;
    }

    &__price {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
        margin-left: 8px;

        &_white {
            color: #ffffff;
        }
    }

    &__link {
        display: block;
        height: 100%;
    }
}

.header .icon-quantity {
    @media (min-width: 320px) and (max-width: 767px) {
        &:first-child {
            margin-right: 16px;
        }
    }

    @media (min-width: 768px) {
        &:not(:first-child) {
            margin-left: 16px;
        }
    }
}

.search-form {
    padding: 10px 0 10px 15px;
    width: 340px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 90px;
    display: flex;
    background: #FFFFFF;
    position: relative;

    @media (min-width: 320px) and (max-width: 1200px) {
        width: 230px;
    }

    span {
        border: 1px solid rgba(0, 0, 0, 0.2);
        height: 28px;
        display: block;
        align-self: center;
    }

    input {
        border: none;
        display: block;
        outline: none;
        width: 98%;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #484848;
    }

    img {
        margin-left: 22px;
        margin-right: 14px;
    }

    &__autocomplete {
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        background: #ffffff;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 1;
        max-height: 240px;
        height: auto;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 15px;
        }

        &::-webkit-scrollbar-track {
            background: #E5E5E5;
            border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: #84BE51;
            border-radius: 8px;
            border: 3px solid #E5E5E5;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #21603F;
        }
    }

    &__autocomplete-item {
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        &:hover {
            background: #E5E5E5;
            cursor: pointer;
            transition: cubic-bezier(1, 0, 0, 1) .3s all;
        }
    }
}

.header .search-form {
    @media (min-width: 320px) and (max-width: 900px) {
        display: none;
    }
}