.partners {
    background: #E5E5E5;
    padding-top: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 115px;

    @media (min-width: 320px) and (max-width: 767px) {
        padding-top: 35px;
        padding-bottom: 40px;
    }

    &__items {
        padding-top: 40px;

        @media (min-width: 320px) and (max-width: 767px) {
            padding-top: 20px;
        }
    }

    &__arrow-circle {
        border: 1px solid #84C551;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        top: 40px;
        cursor: pointer;

        @media (min-width: 320px) and (max-width: 767px) {
            top: 20px;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background: #84C551;

            svg {
                fill: #FFFFFF;

            }
        }

        &_left {
            left: 0;
        }

        &_right {
            right: 0;
        }
    }

    &__slider {
        align-self: end;
        border-radius: 20px;
        width: 6px;
        margin-right: 10px;
        cursor: pointer;

        &_active {
            background: #8D3200;
            height: 30px;
        }

        &_notActive {
            background: rgba(141, 50, 0, 0.1);
            height: 16px;
        }
    }
}

.partner-logo {
    background: #FFFFFF;
    border-radius: 20px;
    width: 255px;
    padding: 20px 0;

    @media (min-width: 320px) and (max-width: 767px) {
        width: 140px;
        padding: 14px 0;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        width: 182px;
    }

    img {
        display: block;
        margin: 0 auto;

        @media (min-width: 320px) and (max-width: 767px) {
            width: 125px;
        }
    }
}

.partners .partner-logo {
    margin-bottom: 70px;
}