.about-company {
    padding-bottom: 110px;

    @media (min-width: 320px) and (max-width: 767px) {
        padding: 0 15px 28px 15px;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        padding: 0 30px 110px 30px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.5);
        margin-top: 24px;

        p {
            margin-bottom: 10px;
        }

        &_green {
            font-weight: 700;
            color: #1E6140;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__list-items {
        margin-top: 30px;
    }

    &__list-item {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 1);
        margin: 0 0 3px 17px;
    }

    &__heading {
        margin-bottom: 10px;
    }
}