.contacts {

    &__company-data {
        width: 1110px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-top: 30px;
        margin-bottom: 110px;

        @media (min-width: 320px) and (max-width: 767px) {
            width: 290px;
            margin: 15px auto 35px auto;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__details-items {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 320px) and (max-width: 767px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__data-top {
        padding: 40px 40px 0 40px;

        @media (min-width: 320px) and (max-width: 767px) {
            padding: 20px 20px 0 20px;
        }
    }

    &__data-bottom {
        padding: 0 40px 40px 40px;

        @media (min-width: 320px) and (max-width: 767px) {
            padding: 0 20px 20px 20px;
        }
    }

    &__details-item {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #000000;

        @media (min-width: 320px) and (max-width: 767px) {
            &:not(:first-child) {
                padding-top: 20px;
            }
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            max-width: 200px;
        }
    }

    &__icon {
        margin-right: 11px;
    }

    &__adress {
        width: 290px;

        @media (min-width: 320px) and (max-width: 767px) {
            width: 206px;
        }
    }

    &__separator-horizontal {
        margin: 42px 0 27px 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: block;

        @media (min-width: 320px) and (max-width: 767px) {
            margin: 31px auto 18px auto;
        }
    }

    &__personal-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 120px;

        @media (min-width: 320px) and (max-width: 767px) {
            padding-bottom: 40px;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #1E6140;
    }

    &__text {

        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;

        &_top {
            margin-top: 4px;
            margin-bottom: 20px;
        }

        &_bottom {
            margin-top: 17px;
            margin-bottom: 40px;
            text-align: center;
            width: 640px;

            @media (min-width: 320px) and (max-width: 767px) {
                width: 290px;
                margin-bottom: 17px;
            }
        }
    }

    &__text-days {
        font-weight: 700;
        line-height: 20px;
    }
}

.contacts .contacts-form {
    display: flex;
    flex-direction: column;
}

.data-registration {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;

    @media (min-width: 320px) and (max-width: 767px) {
        flex-direction: column;
    }

    &__btn {
        font-weight: 600;
        font-size: 16px;
        line-height: 105.9%;
        color: #FFFFFF;
        border-radius: 90px;
        width: 150px;
        height: 35px;
        background: #E74E13;
        border: none;
        cursor: pointer;
        margin-left: 20px;

        @media (min-width: 320px) and (max-width: 767px) {
            margin-top: 10px;
        }
    }
}