.slider {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__active {
        display: block;
        background: #8D3200;
        border-radius: 20px;
        width: 6px;
        height: 30px;
        margin-right: 10px;

        &_green {
            background: #FFFFFF;
        }
    }

    &__notActive {
        display: block;
        border-radius: 20px;
        width: 6px;
        height: 16px;
        background: rgba(141, 50, 0, 0.1);
        margin-right: 10px;

        &_green {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}